{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dt>Tag:
        {% for tag in tags %}
        <dd><input type=radio name="tag" value="{{ tag.name }}">{{ tag.name }}
        {% endfor %}
        <dd><input type=radio name="tag" value="">Other <input type="text" name="new_tag" />
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
{% include "entry_format.html" %}
{% endblock %}
