{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
        {{ form.csrf_token }}
      <dl>
          <dt>{{ form.title.label }}
          <dd>{{ form.title() }}
          <dt>{{ form.text.label }}
          <dd>{{ form.text() }}
          <dt>{{ form.tags.label }}
        {% for tag in form.tags %}
        <tr>
            <td>{{ tag }}</td>
            <td>{{ tag.label }}</td>
        </tr>
        {% endfor %}
        <dd><input type=radio name="tag" value="">Other <input type="text" name="new_tag" />
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
{% include "entry_format.html" %}
{% endblock %}
